.body {
  display:block;
  font-size: 2.4vh;
}

.Background-image {
  z-index: 1;
  position: absolute;
  left: 33vw;
  width: 33vw;
  height: 33vw;
  margin-top: 15vh;
  opacity: 0.1;
}

.content {
  z-index: 2;
}
  