.row {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 2vh; 
    width: 70vw;
    height: 10vh;
    line-height: 10vh;
}
.color1 {
    background-color: white;
    /* rgb(216, 216, 216); */
}
.color2 {
    background-color: white;
    /* rgb(182, 182, 182); */
}

.transaction-date {
    display: inline-block;
    width: 12%;
    margin-right: 2%;
}

.transaction-time {
    display: inline-block;
    width: 7%;
    margin-left: 2%;
    margin-right: 2%;
}

.bitcoin-address {
    display: inline-block;
    width: 35%;
    margin-left: 2%;
    margin-right: 2%;
}

.transaction-amount-received {
    display: inline-block;
    width: 14%;
    margin-left: 2%;
    margin-right: 2%;
    color: green;
}

.transaction-amount-sent {
    display: inline-block;
    width: 14%;
    margin-left: 2%;
    color: rgb(201, 0, 0);
}