@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    /* z-index: 2; */
    height: 9vh;
    width: 60vw;
    /* font-family: 'Open Sans', sans-serif; */
}

.search > button {
  padding: 0;
}
.prev-50-button {
  position: fixed;
  top: 42%;
  left: 0vw;
  width: 8vw;
  height: 100%;
  z-index: 1;
  margin-left: 1vw;
  margin-right: 0.5vw;
}

.prev-50-button > button {
  background-color: rgb(53, 168, 118);
  color: white;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  border-width: 0.2vw;
  width: 100%;
  height: 7vh;
  font-size: 2vh;
}

.prev-50-button > button::after {
  content: '<< Previous 50';
}

.next-50-button {
  position: fixed;
  top: 42%;
  right: 0vw;
  width: 8vw;
  height: 100%;
  z-index: 1;
  margin-left: 0.8vw;
  margin-right: 0.2vw;
}

.next-50-button > button {
  background-color: rgb(53, 168, 118);
  color: white;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0;
  padding-bottom: 0;
  border-width: 0.2vw;
  width: 100%;
  height: 7vh;
  font-size: 2vh;
}

.next-50-button > button::after {
  content: 'Next 50 >>';
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.searchTerm {
    float: left;
    width: 55vw;
    border: 1.5vh solid rgb(16, 173, 228);
    padding: 1vh;
    height: 4vh;
    border-radius: 2vh;
    outline: none;
    color: #9DBFAF;
    font-size: 1.5vw;
  }
  
  .searchTerm:focus{
    color: rgb(21, 35, 67);
  }
  
  .searchButton {
    position: absolute;  
    right: 2vh;
    width: 9vh;
    height: 9vh;
    border: 1.5vh solid rgb(16, 173, 228);
    background: rgb(16, 173, 228);
    text-align: center;
    color: #fff;
    border-radius: 2vh;
    cursor: pointer;
  }

  .searchButton > img {
    width: 5vh;
    height: 5vh;
  }